.whitefont{
    color: #fff;
}
.blackfont{
	color:#282828 ;
}
.blackfontleft{
	color:#333;
	
}
.green{
	color: #63A924;
}
.myrow{
	 background-color:	#E9EAED;/*#edf0f5;*/ /*#F0F0F0;*/
	}
	
.lfcolumn > li a:HOVER{
	background-color: #d3d3d3;
	
}
.myhome:HOVER,
.myhome:ACTIVE,
.myhome:FOCUS{
	color:#FFF;
	border-style: hidden;
	outline: none;
}

ul.privacydropdown li :HOVER{
	background-color: #8b9dc3;
}

#posthover:HOVER{
	background-color: #3b5998;
	
}

.restprivacy:HOVER{
	background-color:#E6E6E6;
}
.messagebutton:HOVER{
	background-color: rgba(237, 239, 245, 0.98);
}

.notificationbutton:HOVER{
	background-color: #E6E6E6;
}
.chatdiv:HOVER{
	background-color:#E6E6E6;
}


.blue,
.blue:ACTIVE{
	color:#282828 ;
}
.fbcolor{
	color:#3b5998;
}
.orange{
	color: #FFB870;
}
.whitefont:HOVER{
	background-color:transparent;
}
.bluefont{
    color: #3b5998;
    font-size:20px;
}
.lightgrey{
color:#9197A3;	
}
.greyfont{
	color:#282828;
}
.bgcolor{
    background-color:#3b5998;
}